@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glowing {
    0% {
      box-shadow: 0 0 5px rgba(41, 52, 206, 0.7); /* Initial box-shadow color and size */
    }
    50% {
      box-shadow: 0 0 20px rgba(41, 52, 206, 0.7); /* Intermediate box-shadow color and size */
    }
    100% {
      box-shadow: 0 0 5px rgba(41, 52, 206, 0.7); /* Final box-shadow color and size */
    }
  }
  
  .glow-border {
    animation: glowing 2s infinite; /* Adjust the duration as needed */
    border: 2px solid #0c0fb9; /* Set your border color and width */
  }

  /* ArticleComponent.css */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
 
  

  
  
  
 